.git
.github
.idea
.vscode
.editorconfig
.phpunit.result.cache
.env
.env.backup
.env.production
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
node_modules
npm-debug.log
yarn-error.log
tests
scratch
*.sql
*.zip
